# Ignore the VS Code workspace file
myFirstMLDeployment.code-workspace

# Ignore the environment directory
env/

# Ignore the .DS_Store files
.DS_Store

# Ignore the build directory
build/

# Ignore the .vscode directory
.vscode/

# Ignore the .pytest_cache directory
.pytest_cache/

/artifacts
/mlruns
/logs